.item {
  cursor: pointer;
  display: grid;
  font-family: 'Times New Roman', Times, serif;
  width: 20pc;
  height: max-content;
  grid-template-rows: auto;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  overflow: hidden;
  margin: 2%;
  border-radius: 5px;
  &:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4), 0 2px 10px 0 rgba(0, 0, 0, 0.4);
  }

  .item-img {
    width: inherit;
    height: 274px;
    grid-row: 2;
  }
  .item-title {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    height: 40px;
    overflow: hidden;
    font-size: 30px;
    width: inherit;
    position: sticky;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    font-weight: 450;
    grid-row: 1;
  }
  .item-footer {
    grid-row: 3;
    display: grid;
    grid-template-rows: 1fr;
    .item-supTitle {
      padding: 0 0 0 6px;
      font-size: 20px;
      position: relative;
    }
  }
}

.item-buttons {
  display: flex;
  width: 20pc;
  height: 30px;
  flex-direction: row;
  justify-content: space-between;
  .item-button {
    border: none;
    background-color: transparent;
    &:hover {
      border: 0.5px solid black;
    }
  }
}
