@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');


.collection-item{
  width: 100%;
}


#toast-container{
  top:30px !important;
  right: 20px !important;
  left: auto !important;
}


.material-icons:hover{
  cursor: pointer;
}
.card-img-top {
  width: 100%;
  height: 18vw;
  object-fit: cover;
}
.card-body{
  width: 100%;
  height: 10vw;
  flex-grow:0;
}